.wall{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  margin-top:0
}
.wallImg{
    width:55%;
    height:auto;
}
.wallBottles{
    position:absolute;
    width:35%;
    display:flex;
    justify-content: center;
}
.bottle{
    width: 15px;
    height: 60px;
}
.count{
  font-size: 2em;
  color: rgb(18, 142, 18);
}
.smash{
    width: 60px;
    height: 15px;
    position: absolute;
    bottom: 15%;
    left:20%;
}
.wallText{
  font-weight: 800;
}
