.diceDiv{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
}
.diceArea{
    width: 100%;
    height: 100%;
    grid-row: 2/4;
    grid-column: 2/5;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.diceBtns{
    width: 100%;
    height: 100%;
    grid-row: 4/5;
    grid-column: 1/6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #282c34;
    border-radius:12px;
}
.btn{
    min-width: 105px;
    height: 50px;
    font-family: 'Righteous', cursive;
    font-size: 15px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: white;
    background-color:rgb(10, 142, 10);
    margin-bottom: 5%;
}
.btn:hover{
    color:rgb(10, 142, 10);
    background-color: rgb(0, 0, 0);
    text-shadow: -3px 2px 5px rgb(158, 181, 146);
}
.dice{
    width: 12vmax;
    height:12vmax;
}
