@property --bg-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

/************  HEADER **************/
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 180px;
}
.welcome{
  color: rgb(18, 97, 18);
  animation: 5s marginTop forwards ease-in;
  font-size: 25px;
  animation: 5s fontSize forwards ease-in;
  display: block;
  font-family: 'Righteous', cursive;
}
.title{
  animation: 5s fontSizeBig forwards ease-in;
  color: rgb(57, 123, 57);
  text-shadow: 5px 2px 5px black;
  width: 100%;
  font-family: 'Luckiest Guy', cursive;
  z-index: 1;
}
.headerLogo{
  width: 160px;
  height: 160px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0
}

/************* GAME **************/

.gameDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width:100%;
  height:calc(100vh - 320px);
    
}
.btn{
    min-width: 100px;
    height: 40px;
    font-family: 'Righteous', cursive;
    font-size: 15px;
    border-radius:25px;
    color: white;
    background-color:rgb(10, 142, 10);
}

#startBtn{
  transition: all;
  transition-duration: 0.75s;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  font-size: 3em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-75%);
  border: 5px solid rgb(10, 213, 10);
  box-shadow: 2px 2px 4px 4px rgb(6, 82, 6), -2px 2px 4px 4px rgb(6, 82, 6), 2px -2px 4px 4px rgb(6, 82, 6), -2px -2px 4px 4px rgb(6, 82, 6);
}
#startBtn:hover{
  transition: all;
  transition-duration: 1s;
  border: 6px solid rgb((6, 82, 6));
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.5), -2px 2px 4px 4px rgb(6, 82, 6), 2px -2px 4px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px 4px rgb(6, 82, 6);
  background-color: rgb(10, 213, 10);
  color: white;
  text-shadow: -1.5px 1.5px 2px rgb(6,82,6);
  transform: translateX(-50%) translateY(-75%) scale(1.1);
}
#startBtn:active{
  transition: all;
  transition-duration: 1s;
  transform: translateX(-50%) translateY(-75%) scale(0.7);
  text-shadow: inset -1.5px 1.5px 2px rgb(255,255,255);
  color: rgba(10,213,10);
  border: none;
  box-shadow: inset 2px 2px 4px 4px rgba(0, 0, 0, 0.5), inset -2px 2px 4px 4px rgb(6, 82, 6), inset 2px -2px 4px 4px rgba(0, 0, 0, 0.5), inset -2px -2px 4px 4px rgba(0, 0, 0, 0.5);
}
.btn:hover{
    color:rgb(10, 142, 10);
    background-color: rgb(0, 0, 0);
    text-shadow: -3px 2px 5px rgb(158, 181, 146);
}
.endGame, #modalContent.endGame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vmin;
}
.endGameTitle{
    color: rgb(18, 97, 18);
    font-size: 50px;
    text-shadow: 5px 2px 5px black;
    font-family: 'Luckiest Guy', cursive;
}
p.endGameText{
    font-weight:800;
}
a.endGameLink{
    text-decoration: none;
    color:rgb(10, 142, 10);
}
a.endGameLink:hover{
    color: rgb(18, 97, 18);
}
.endGameBtns{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/*******START MODAL*******/
.startModalModal{   
    background-color: #282c34;
}
.startModal{
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.welcome{
    color: rgb(18, 97, 18);
    font-size: 25px;
    animation: 5s modalFontSize forwards ease-in;
    display: block;
    font-family: 'Righteous', cursive;
  }
.startModalRow{
    display:flex;
}
.startLogo{
    width: 15vw;
    height: 15vw;
    margin-left: 25px;
    margin-right: 25px;
}
.startModalTitle{
    margin-top: -4vh;
    animation: 5s modalFontSizeBig forwards ease-in;
    color: rgb(57, 123, 57);
    text-shadow: 5px 2px 5px black;
    width: 100%;
    font-family: 'Luckiest Guy', cursive;
}
.startModalBtns{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.rainbowBG{
  border-radius: 50%;
  background: border-box,  conic-gradient(from var(--bg-angle) at 50% 50%, #4eeaff, #4bb9ff, #5463ff, #b35dff, #ff5bdb, #ff547d, #ff7c43, #ffb642, #fff847, #76ff4f, #49ffd2, #44efff) content-box, none; 
  animation: rainbowAnimation 15s infinite linear running;
  -moz-animation: rainbowAnimation 15s infinite linear running;
  -webkit-animation: rainbowAnimation 15s infinite linear running;
  border: 10px solid transparent;
}

/********* FOOTER *********/
footer{
  background-color: #282c34;
  width: 100%;
  height:140px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  position:absolute;
  bottom:0;
  left:0;
}
.footerImgDiv{
  grid-area: 1 / 2 / 4 / 3;
}
.footerLogo{
  width: 120px;
  height: 120px;
  margin-left: 20%;
}
.footerText{
  grid-area: 1 / 3 / 6 / 6;
  font-size: 2vmin;
  color: #777;
  margin-left: 15px;
  font-family: 'Righteous', cursive;
  line-height: 6px;
  white-space: nowrap;
  text-align:center;
}
.github{
    text-decoration: none;
    color: rgb(57, 123, 57);
}
.github:hover{
    text-decoration: none;
    color:rgb(10, 142, 10);
}
.footPrivacy{
  grid-area: 5 / 3 / 6 / 4;
  text-align: center;
  margin-top: 25px;
}
.footPrivacyLink{
  text-decoration: none;
  color: rgb(57, 123, 57);
  font-size: 2vmin;
  font-family: 'Righteous', cursive;
}
.footPrivacyLink:hover{
  text-decoration: none;
  color:rgb(10, 142, 10);
}
.footTerms{
  grid-area: 5 / 5 / 6 / 6;
  text-align: center;
  margin-top: 25px;
}
.footTermsLink{
  text-decoration: none;
  color: rgb(57, 123, 57);
  font-size: 2vmin;
  font-family: 'Righteous', cursive;
}
.footTermsLink:hover{
  text-decoration: none;  
  color:rgb(10, 142, 10);
}

@media screen and (max-width: 600px){
  .footerText{ font-size: 10px; line-height: 4px; white-space: nowrap; }
  .footerLogo{ width: 65px; height: 65px; }
}

@keyframes rainbowAnimation {
  to {
    --bg-angle: 360deg;
  }
}
@-moz-keyframes rainbowAnimation {
  to {
    --bg-angle: 360deg;
  }
}
@-webkit-keyframes rainbowAnimation {
  to {
    --bg-angle: 360deg;
  }
}

@keyframes modalFontSize{
    from {
      font-size: 25px
    }
    to {
      font-size: 8px
    }
  }
  @keyframes modalFontSizeBig{
    from {
      font-size: 8px;
      opacity: 0;
    }
    to {
      font-size: 40px;
      opacity: 1;
    }
  }

  @keyframes marginTop{
    0% {
      margin-top:35%;
      z-index: 1
    }
    50% {
      margin-top:5%;
      z-index: 1
    }
    100%{
      margin-top: 5%;
      z-index: -1;
    }
  }
  @keyframes fontSize{
    from {
      font-size: 25px
    }
    to {
      font-size: 8px
    }
  }
  @keyframes fontSizeBig{
    from {
      font-size: 8px;
      opacity: 0;
    }
    to {
      font-size: 28px;
      opacity: 1;
    }
  }