@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Righteous&family=Source+Code+Pro:wght@300&display=swap');

.App {
  text-align: center;
  display:grid;
  height: 100vh;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-color: white;
}
.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin-top: 3vh;
  margin-bottom: 1vh;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 26vh;
  grid-row: 1/3;
  grid-column: 1/8;
}
.welcome{
  color: rgb(18, 97, 18);
  animation: 5s marginTop forwards ease-in;
  font-size: 25px;
  animation: 5s fontSize forwards ease-in;
  display: block;
  font-family: 'Righteous', cursive;
}
.title{
  margin-top: -4vh;
  animation: 5s fontSizeBig forwards ease-in;
  color: rgb(57, 123, 57);
  text-shadow: 5px 2px 5px black;
  width: 100%;
  font-family: 'Luckiest Guy', cursive;
}
.AppGame{
  grid-row:3/-1;
  grid-column:2/7
}
.AppFooter{
  grid-row:-2/-1;
  grid-column:1/-1;
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@keyframes marginTop{
  from {
    margin-top:35%
  }
  to {
    margin-top:5%
  }
}
@keyframes fontSize{
  from {
    font-size: 25px
  }
  to {
    font-size: 8px
  }
}
@keyframes fontSizeBig{
  from {
    font-size: 8px;
    opacity: 0;
  }
  to {
    font-size: 28px;
    opacity: 1;
  }
}

@media screen and (min-width: 1000px){
  .App{max-width:1000px}
}
@media screen and (max-width: 999px){
  .App{max-width:100vw}
}